<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-android-widget" version="0.0.1">
    <name>Android Widget Plugin</name>
    <description>Cordova Android Widget Plugin</description>
    <license>MIT</license>
    <keywords>cordova,android,widget</keywords>

    <engines>
        <engine name="cordova" version=">=10.0.0"/>
        <engine name="cordova-android" version=">=11.0.0"/>
        <engine name="cordova-ios" version=">=6.0.0"/>
    </engines>
        
    <js-module src="www/widget.js" name="widget">
        <clobbers target="cordova.plugins.androidWidget" />
    </js-module>

    <platform name="android">
    <dependency id="cordova-plugin-awesome-shared-preferences"/>
        <resource-file src="res/values/dimens.xml" target="res/values/dimens.xml" />
        <resource-file src="res/values/colors.xml" target="res/values/colors.xml" />
            
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AndroidWidget">
                <param name="android-package" value="com.example.WidgetPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
            <uses-permission android:name="android.permission.BIND_APPWIDGET" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
                <service android:name="com.example.AppKilledService" android:enabled="true" android:exported="false" android:stopWithTask="false" />
        </config-file>
            
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="com.example.WidgetProvider" android:exported="true">
                <intent-filter>
                    <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                </intent-filter>
                <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
            </receiver>
        </config-file>
        <source-file src="src/android/WidgetPlugin.java" target-dir="src/com/example" />
        <source-file src="src/android/WidgetProvider.java" target-dir="src/com/example" />
        <source-file src="src/android/AppKilledService.java" target-dir="src/com/example" />
            
        <resource-file src="widget_info.xml" target="res/xml/widget_info.xml" />
        <resource-file src="widget_layout.xml" target="res/layout/widget_layout.xml" />
        <resource-file src="widget_preview.xml" target="res/drawable/widget_preview.xml" />
        <resource-file src="res/drawable/logo.xml" target="res/drawable/logo.xml" />
        <resource-file src="res/drawable/background.png" target="res/drawable/background.png" />
        <resource-file src="res/drawable/preview.png" target="res/drawable/preview.png" />
        <resource-file src="res/drawable/update.png" target="res/drawable/update.png" />
        <resource-file src="res/drawable/blur.xml" target="res/drawable/blur.xml" />
        <resource-file src="res/drawable/dummy_qr.png" target="res/drawable/dummy_qr.png" />
        <resource-file src="res/drawable/gotham_button_dark_green.xml" target="res/drawable/gotham_button_dark_green.xml" />
        <resource-file src="res/drawable/plus_logo_white.webp" target="res/drawable/plus_logo_white.webp" />
        <resource-file src="res/drawable/white_rounded.xml" target="res/drawable/white_rounded.xml" />
    </platform>
</plugin>
